package components

css Base() {
  background-color: #f4f4f4;
    color: #333;
    font-family: Arial;
}

templ headerTemplate() {
  <header>
    <h1 class={Base()}>Header</h1>
  </header>
}

templ footerTemplate() {
  <footer>
    <h1>Footer</h1>
  </footer>
}

templ HomePage() {
   <h1>Home Page</h1>
}