package components

css Base() {
  background-color: #e5dada;
    color: #333;
    font-family: Arial;
}

templ headerTemplate() {
  <header>
    <h1 class={Base()}>Header</h1>
  </header>
}

templ footerTemplate() {
  <footer>
    <h1>Footer</h1>
  </footer>
}

templ HomePage() {
    @headerTemplate()
   <h1>Home Page</h1>
   @footerTemplate()
}

templ Button() {
  <button class={Base()}>Click me</button>
}